<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div> <p>Select screen elements </p> </div>
    <div *cdkVirtualFor="let item of items" class="example-item" (click)="elementOnClick(item);">
      <div [ngSwitch]="item.type">
        <div *ngSwitchCase="'Button'">
          <app-button></app-button>
        </div>
        <div *ngSwitchCase="'Dropdown'">
          <app-dropdown></app-dropdown>
        </div>
        <div *ngSwitchCase="'Textfield'">
          <app-textfield></app-textfield>
        </div>
      </div>
      <!-- <ng-container *ngComponentOutlet="item.type" ></ng-container> -->
      <hr class="rounded">
    </div>
</cdk-virtual-scroll-viewport>