.example-viewport {
    height: 100%;
    width: 250px;
    border: 1px solid black;
    overflow-x: hidden;
    background-color: white;
  }
  
  .example-item {
    margin: 16px;
  }

  p{
    align-items: center;
    font-size: 18px;
    margin: 16px;
    margin-left: 13%;
    font-weight: 450;
  }
  hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
  }