<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <app-side-menu></app-side-menu>
  <hr class="rounded" />
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" [expanded]="screensOpenState">
      <mat-expansion-panel-header class="specific-class">
        <mat-panel-description>
          <label class="title">Vericash Library</label>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
    *cdkVirtualFor="let item of items"
    class="example-item"
    (click)="elementOnClick(item)">
  <label>
    {{ getItemName(item.name) }}
  </label>
    <div [ngSwitch]="item.name" class="element">
      <div *ngSwitchCase="'Button'">
        <app-button></app-button>
      </div>
      <div *ngSwitchCase="'Dropdown'">
        <app-dropdown></app-dropdown>
      </div>
      <div *ngSwitchCase="'Input Field'">
        <app-textfield></app-textfield>
      </div>
      <div *ngSwitchCase="'List'">
        <app-list></app-list>
      </div>
      <div *ngSwitchCase="'Calendar'">
        <app-calendar></app-calendar>
      </div>
      <div *ngSwitchCase="'Checkbox'">
        <app-checkbox></app-checkbox>
      </div>
      <div *ngSwitchCase="'Row'">
        <app-row></app-row>
      </div>
      <div *ngSwitchCase="'Container'">
        <app-container></app-container>
      </div>
      <div *ngSwitchCase="'Column'">
        <app-column></app-column>
      </div>
    </div>
    <!-- <ng-container *ngComponentOutlet="item.type" ></ng-container> -->
    <hr class="rounded" style="margin: 16px 0;" />
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
</cdk-virtual-scroll-viewport>
