<div class="col">
  <p>Calendar Properties</p>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Title"
    [(ngModel)]="title"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Hint"
    [(ngModel)]="hint"
  />
  <label class="container-checkbox"
    >Required
    <input type="checkbox" checked="checked" [(ngModel)]="isRequired" />
    <span class="checkmark"></span>
  </label>
  <hr class="rounded" />
</div>
<button class="btn btn-primary bottom" (click)="onSubmit()">Save</button>
