.example-box {
  position: relative;
  width: 100%;
  height: 80;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box.close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}

.example-boundary {
  width: 400px;
  border: dotted #ccc 2px;
  min-height: 350px;
  border-top: 0px;
}

.appbar {
  height: 70px;
  width: 400px;
  background-color: deeppink;
  border: dotted #ccc 2px;
  border-bottom: 0px;
  text-align: center;
  font-size: 10px;
  color: white;
}

.appbar input {
  color: black;
  font-size: 16px;
}

.appbar span {
  font-size: 16px;
}

.item {
  width: 80%;
  margin-right: 5px;
  text-align: start;
}

.close-container {
  width: 20%;
}
