<div class="appbar">
  <p>9:00 am</p>
  <span ng-dblclick="editItem(item)">{{ item }}</span>
</div>
<div class="example-boundary">
  <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport"> -->
  <div
    class="example-list"
    cdkDropList
    [cdkDropListData]="selectedElements"
    (cdkDropListDropped)="drag($event)"
  >
    <div
      (click)="onClickElement(item, index)"
      class="example-box"
      cdkDrag
      cdkDragBoundary=".example-boundary"
      *ngFor="let item of selectedElements; let index = index"
    >
      <div class="item">
        <div [ngSwitch]="item.type">
          <div *ngSwitchCase="'Button'">
            <app-button [title]="item.json.fieldTitle ?? 'Button'"></app-button>
          </div>
          <div *ngSwitchCase="'Dropdown'">
            <app-dropdown></app-dropdown>
          </div>
          <!-- [hintText]="item.hintText"
              [title]="item.title" -->
          <div *ngSwitchCase="'Textfield'">
            <app-textfield
              [title]="item.json.fieldTitle!"
              [hintText]="item.json.hint!"
            ></app-textfield>
          </div>
        </div>
        <!-- <ng-container *ngComponentOutlet="item.type" > </ng-container> -->
      </div>
      <span class="close" (click)="removeElement(index)">&times;</span>
    </div>
  </div>
</div>
