.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 100%;
  }

  .toolbar span {
    text-align: center;
    margin: 16px;
    font-size: 18px;
  }
  .toolbar img {
    margin: 16px;
  }
  .spacer {
    flex: 1;
  }

  


  

  