.item-button {
  height: 40px;
  padding: 8px;
  margin: 4px;
}
.bottom {
  height: 40px;
  width: 88%;
  margin: 6%;
  position: relative;
  bottom: 0;
}
.buttons {
  margin: 4%;
}
.col {
  align-items: center;
  padding: 16px;
}
p {
  align-items: center;
  font-size: 18px;
  font-weight: 450;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}
.container-checkbox {
  display: block;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
select {
  width: 100%;
  margin-bottom: 5px;
}
