.item-button {
  height: 40px;
  padding: 8px;
  margin: 4px;
}
.bottom {
  height: 40px;
  width: 88%;
  margin: 6%;
  position: relative;
  bottom: 0;
}
.buttons {
  margin: 4%;
}
.col {
  align-items: center;
  padding: 16px;
}
.header {
  align-items: center;
  font-size: 18px;
  font-weight: 450;
}
.row {
  display: flex;
  position: relative;
  flex-flow: row;
  min-height: 50px;
}
.item::-webkit-outer-spin-button,
.item::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.item {
  margin-left: 2px;
  margin-right: 2px;
}

p {
  font-size: 14px;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

input::placeholder {
  font-size: 14px;
  font-weight: 200;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}
.container-checkbox {
  display: block;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
select {
  width: 100%;
  margin-bottom: 5px;
}
mat-select {
  background-color: white;
  color: black;
  border: 1px solid #666666;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc;
}
.example-viewport {
  height: 100%;
  width: 250px;
  border: 1px solid black;
  overflow-x: hidden;
  background-color: white;
}

.title {
  font-size: 18px;
  font-weight: 800;
  color: black;
}

/* .title{
    margin-left: 16px;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
  }

  .example-item {
    margin: 16px;
  } */

.element {
  padding: 3%;
  background-color: #efefef;
  border-radius: 2%;
}

/* p{
    align-items: center;
    font-size: 18px;
    margin: 16px;
    margin-left: 13%;
    font-weight: 450;
  } */
hr.rounded {
  border-top: 1px solid #bbb;
  border-radius: 5px;
  border-color: #cccccc;
  margin-top: 8px;
  margin-bottom: 8px;
}

mat-accordion {
  background-color: white;
}

mat-expansion-panel {
  background-color: white;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: black;
}

h3,
h4 {
  color: black;
  font-weight: 800;
}

hr {
  border-width: 1px;
}

label {
  font-size: 13px;
  font-weight: 450;
}
