<div class="col">
  <p class="header">Add Elements To Row</p>
  <div class="buttons">
    <button class="btn btn-info item-button" (click)="onSelectText()">
      Text
    </button>
    <button class="btn btn-success item-button" (click)="onSelectButton()">
      Button
    </button>
    <button class="btn btn-warning item-button" (click)="onSelectIcon()">
      Icon
    </button>
    <button class="btn btn-light item-button" (click)="onSelectEmpty()">
      Empty
    </button>
  </div>
  <p>Row Main Axis Alignment</p>
  <select [(ngModel)]="rowElementModel!.style.mainAxisAlignment">
    <option [value]="item" *ngFor="let item of justifyArr">
      {{ item }}
    </option>
  </select>
  <p>Row Cross Axis Alignment</p>
  <select [(ngModel)]="rowElementModel!.style.crossAxisAlignment">
    <option [value]="item" *ngFor="let item of crossAxisArr">
      {{ item }}
    </option>
  </select>
  <p>Row Main Axis Size</p>
  <select [(ngModel)]="rowElementModel!.style.mainAxisSize">
    <option [value]="item" *ngFor="let item of mainAxisSizeArr">
      {{ item }}
    </option>
  </select>
  <p>Row Text Direction</p>
  <select [(ngModel)]="rowElementModel!.style.textDirection">
    <option [value]="item" *ngFor="let item of textDirectionArr">
      {{ item }}
    </option>
  </select>
  <p>Row Vertical Direction</p>
  <select [(ngModel)]="rowElementModel!.style.verticalDirection">
    <option [value]="item" *ngFor="let item of varticalDirectionArr">
      {{ item }}
    </option>
  </select>
  <div *ngIf="selectedElement !== undefined">
    <div class="container">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text">Edit Element</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>

    <label class="container-checkbox"
      >Expanded
      <input
        type="checkbox"
        checked="checked"
        [(ngModel)]="(selectedElement.child ?? selectedElement).style.expanded"
        (change)="onExpandedChange()"
      />
      <span class="checkmark"></span>
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Element Data Map ID
      <input
        type="text"
        class="form-control"
        placeholder="Enter element data map ID"
        [(ngModel)]="selectedElement.child!.dataMapId"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Element Data ID In Map
      <input
        type="text"
        class="form-control"
        placeholder="Enter element data ID in map"
        [(ngModel)]="selectedElement.child!.dataIdInMap"
      />
    </label>
    <label>
      Flex
      <input
        type="number"
        class="form-control"
        placeholder="Enter element flex"
        [(ngModel)]="selectedElement.child!.style.flex"
        (input)="getFlexValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Margin
      <input
        type="number"
        class="form-control"
        placeholder="top bottom left right"
        (input)="getMarginValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Padding
      <input
        type="number"
        class="form-control"
        placeholder="top bottom left right"
        (input)="getPaddingValue($event)"
      />
    </label>
    <label>
      Background Color
      <input
        type="text"
        class="form-control"
        placeholder="Enter element color string"
        [(ngModel)]="selectedElement.style.backgroundColor"
        (input)="getBackgroundColorValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Color
      <input
        type="text"
        class="form-control"
        placeholder="Enter element color"
        [(ngModel)]="selectedElement.child!.style.color"
        (input)="getColorValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Font Size
      <input
        type="number"
        class="form-control"
        placeholder="Enter element font size"
        [(ngModel)]="selectedElement.child!.style.fontSize"
        (input)="getFontSizeValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Font Weight
      <input
        type="text"
        class="form-control"
        placeholder="Enter element font weight"
        [(ngModel)]="selectedElement.child!.style.fontWeight"
        (input)="getFontWeightValue($event)"
      />
    </label>
    <label *ngIf="selectedElement.name !== 'Empty'">
      Font Family
      <input
        type="text"
        class="form-control"
        placeholder="Enter element font family"
        [(ngModel)]="selectedElement.child!.style.fontFamily"
        (input)="getFontFamilyValue($event)"
      />
    </label>
    <label class="container-checkbox" *ngIf="selectedElement.name !== 'Empty'"
      >Clickable
      <input
        type="checkbox"
        checked="checked"
        [(ngModel)]="isClickable"
        (change)="onClickablChange()"
      />
      <span class="checkmark"></span>
    </label>
    <label [hidden]="!isClickable"
      >Clickable Type

      <select
        [hidden]="!isClickable"
        [(ngModel)]="
          (selectedElement!.child?.widgetConfiguration?.clickableConfiguration)!
            .type
        "
      >
        <option [value]="item.value" *ngFor="let item of clickablesArr">
          {{ item.name }}
        </option>
      </select>
    </label>
    <label
      *ngIf="
        isClickable &&
        selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
          .type === 'ClickableConfigurationType.callApi'
      "
      >API Code
      <input
        type="text"
        class="form-control"
        placeholder="Enter API Code"
        [(ngModel)]="
          selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
            .apiCode
        "
      />
    </label>
    <label
      *ngIf="
        isClickable &&
        selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
          .type === 'ClickableConfigurationType.redirect'
      "
      >Destination Screen Name
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Name"
        [(ngModel)]="
          selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
            .destination_screen_lookUp!.name
        "
      />
    </label>
    <label
      *ngIf="
        isClickable &&
        selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
          .type === 'ClickableConfigurationType.redirect'
      "
      >Destination Screen Type
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Type"
        [(ngModel)]="
          selectedElement!.child!.widgetConfiguration!.clickableConfiguration!
            .destination_screen_lookUp!.type
        "
      />
    </label>
    <label *ngIf="isClickable"
      >Passed Keys
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Name"
        (input)="onPassedKeys($event)"
      />
    </label>
  </div>
</div>
