<div class="col">
  <label>Title</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="buttonItem!.fieldTitle"
    placeholder="Enter Button Title..."
  />
  <label>Api Code</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="buttonItem!.apiCode"
    placeholder="Enter Button API Code..."
  />
  <label>Height</label>
  <input
    type="number"
    class="form-control"
    [(ngModel)]="buttonItem!.style.height"
    placeholder="Enter Button Height..."
  />

  <app-save-element [elementModel]="buttonItem!"></app-save-element>
</div>
