

.col{
    align-items: center;
}
p{
    align-items: center;
    font-size: 18px;
    font-weight: 450;
}
input{
    margin-bottom: 16px;
    height: 40px;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
  }

button{
    height: 40px;
    width: 88%;
    margin: 6%;
}