<div class="col">
  <p>InputField Properties</p>
  <div class="mb-5">
    <label
      >Input Field Type

      <select [(ngModel)]="inputFieldElementModel!.widget_type">
        <!-- <option value="WidgetType.textBox">Text</option> -->
        <option value="WidgetType.numeric">Number</option>
        <option value="WidgetType.mobileNumber">Mobile Number</option>
      </select>
    </label>
  </div>
  <hr />

  <input
    type="text"
    class="form-control"
    placeholder="Enter Title"
    [(ngModel)]="inputFieldElementModel!.fieldTitle"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Hint"
    [(ngModel)]="inputFieldElementModel!.hint"
  />
  <label>
    Max Length
    <input
      type="number"
      class="form-control"
      placeholder="Enter max length"
      [value]="inputFieldElementModel!.validations!.maxLength"
      [(ngModel)]="inputFieldElementModel!.validations!.maxLength"
    />
  </label>
  <label>
    Min Length
    <input
      type="number"
      class="form-control"
      placeholder="Enter min length"
      [value]="inputFieldElementModel!.validations!.minLength"
      [(ngModel)]="inputFieldElementModel!.validations!.minLength"
    />
  </label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Regex"
    [(ngModel)]="inputFieldElementModel!.validations!.regex"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Error Message"
    [(ngModel)]="inputFieldElementModel!.validations!.error_msg"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Default Value"
    [(ngModel)]="inputFieldElementModel!.validations!.parameterDefaultValue"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Parameter Name"
    [(ngModel)]="inputFieldElementModel!.validations!.parameterName"
  /><input
    type="text"
    class="form-control"
    placeholder="Enter Field ID"
    [(ngModel)]="inputFieldElementModel!.fieldId"
  />
  <label>
    Parameter Order
    <input
      type="number"
      class="form-control"
      placeholder="Enter Parameter Order"
      [value]="inputFieldElementModel!.validations!.parameterOrder"
      [(ngModel)]="inputFieldElementModel!.validations!.parameterOrder"
    />
  </label>
  <label class="container-checkbox"
    >Required
    <input type="checkbox" checked="checked" [(ngModel)]="isRequired" />
    <span class="checkmark"></span>
  </label>
  <app-save-element [elementModel]="inputFieldElementModel!"></app-save-element>
</div>
