<div class="col">
  <p>InputField Properties</p>
  <div class="mb-5">
    <label
      >Input Field Type

      <select [(ngModel)]="inputFieldElementModel!.widget_type">
        <option value="WidgetType.textBox">Text</option>
        <option value="WidgetType.numeric">Amount</option>
        <option value="WidgetType.mobileNumber">Mobile Number</option>
      </select>
    </label>
  </div>
  <hr />

  <input
    type="text"
    class="form-control"
    placeholder="Enter Title"
    [(ngModel)]="title"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Hint"
    [(ngModel)]="hint"
  />
  <label>
    Max Length
    <input
      type="number"
      class="form-control"
      placeholder="Enter max length"
      [(ngModel)]="maxLength"
    />
  </label>
  <label>
    Min Length
    <input
      type="number"
      class="form-control"
      placeholder="Enter min length"
      [(ngModel)]="minLength"
    />
  </label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Regex"
    [(ngModel)]="regex"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Error Message"
    [(ngModel)]="error_msg"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Default Value"
    [(ngModel)]="default_value"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Enter Parameter Name"
    [(ngModel)]="parameter_name"
  />
  <label>
    Parameter Order
    <input
      type="number"
      class="form-control"
      placeholder="Enter Parameter Order"
      [(ngModel)]="parameter_order"
    />
  </label>
  <label class="container-checkbox"
    >Required
    <input type="checkbox" checked="checked" [(ngModel)]="isRequired" />
    <span class="checkmark"></span>
  </label>
  <hr class="rounded" />
</div>
<button class="btn btn-primary bottom" (click)="onSubmit()">Save</button>
