

.col{
    align-items: center;
    padding: 16px;
    height: 380px !important;
}
p{
    align-items: center;
    font-size: 18px;
    font-weight: 450;
}
input{
    margin-bottom: 16px;
    height: 40px;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
  }

button{
    width: 164px;
    margin: 16px;
}