.example-boundary {
    min-width: 100%;
    border-radius: 2%;
    min-height: 50px;
    background-color: white;
    border: 1px solid black;
  }
.close {
    position: fixed;
    top: 2px;
    right: 2px;
    z-index: 100;
  }