.bottom {
  height: 40px;
  width: 88%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  bottom: 0;
}
.col {
  align-items: center;
}
p {
  align-items: center;
  font-size: 18px;
  font-weight: 450;
}

ul {
  list-style-type: none;
}

input::placeholder {
  font-size: 14px;
  font-weight: 200;
}
