<div class="col">
  <p>Dropdown Properties</p>
  <input
    type="text"
    class="form-control"
    placeholder="Enter Title"
    
  />
  <!-- [(ngModel)]="dropdownElementModel.title" -->
  <input
    type="text"
    class="form-control"
    placeholder="Enter hint"
    
  />
  <p>Lookup list key</p>
  <!-- [(ngModel)]="dropdownElementModel.lookupListKey" -->
  <select >
    <option value="veiw.payment.methods.screens">view payment methods</option>
    <option value="numbers">numbers</option>
    <option value="user-types">user types</option>
  </select>
  <label class="container-checkbox"
    >Required
    <input
      type="checkbox"
      checked="checked"
      
    />
    <span class="checkmark"></span>
  </label>
  <hr class="rounded" />
</div>
<button class="btn btn-primary bottom" (click)="onSubmit()">Save</button>
