.example-boundary {
    min-width: 100%;
    border-radius: 2%;
    border-width: 1px;
    border: 1px solid black;
    padding: 5%;
    min-height: 50px;
    background-color: white;
  }
.close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
  }
  .row{
    width: 90%;
  }