<div class="col">
  <label>List</label>
</div>
<div class="example-boundary">
  <mat-grid-list
    cols="6"
    rowHeight="80px"
    cdkDropList
    [cdkDropListData]="listModel?.cell?.children!"
    cdkDragBoundary=".example-boundary"
    (cdkDropListDropped)="drag($event)"
  >
    <mat-grid-tile
      cdkDrag
      *ngFor="let tile of listModel?.cell?.children!; let index = index"
      [colspan]="6"
      [rowspan]="getItemRowspan(tile)"
      [ngSwitch]="tile.name"
      (click)="onRowSelected(tile, index); $event.stopPropagation()"
    >
      <app-row *ngSwitchCase="'Row'" class="row" [row]="tile"></app-row>
      <app-column *ngSwitchCase="'Column'" class="row" [columnModel]="tile"></app-column>
    
      
      <span class="close" (click)="removeElement(index)">&times;</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
