<div class="col">
  <label>List</label>
</div>
<div class="example-boundary">
  <mat-grid-list
    cols="6"
    rowHeight="70px"
    cdkDropList
    [cdkDropListData]="tiles!"
    cdkDragBoundary=".example-boundary"
    (cdkDropListDropped)="drag($event)"
  >
    <mat-grid-tile
      cdkDrag
      *ngFor="let tile of tiles; let index = index"
      [colspan]="tile.style.flex"
      [rowspan]="tile.style.rowspan"
      [style.background]="tile.style.backgroundColor"
      [style.color]="tile.style.color"
      [style.font-size.px]="tile.style.fontSize"
      [style.font-weight]="tile.style.fontWeight"
      [style.font-family]="tile.style.fontFamily"
      (click)="onElementClick(tile, index)"
    >
      {{ tile.type }} <br />
      {{ tile.style.flex }}
      <span class="close" (click)="removeElement(index)">&times;</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
