<div class="col">
  <label>List</label>
</div>
<div class="example-boundary">
  <mat-grid-list
    cols="6"
    rowHeight="80px"
    cdkDropList
    [cdkDropListData]="listModel!.widget?.widgetConfiguration?.listConfiguration!"
    cdkDragBoundary=".example-boundary"
    (cdkDropListDropped)="drag($event)"
  >
    <mat-grid-tile
      cdkDrag
      *ngFor="let tile of listModel!.widget.widgetConfiguration?.listConfiguration; let index = index"
      [colspan]="tile.widget.style.flex"
      [rowspan]="tile.widget.style.rowspan"
      [style.background]="tile.widget.style.backgroundColor"
      [style.color]="tile.widget.style.color"
      [style.font-size.px]="tile.widget.style.fontSize"
      [style.font-weight]="tile.widget.style.fontWeight"
      [style.font-family]="tile.widget.style.fontFamily"
      (click)="onRowSelected(tile, index);$event.stopPropagation()"
    >
      <app-row class="row" [row]="tile"></app-row>
      <span class="close" (click)="removeElement(index)">&times;</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
