<div class="container">
  <div class="col-lg-6">
    <div>
      Icon: <mat-icon>{{ selectedElement.iconName }}</mat-icon>
    </div>
    <mat-select
      [(ngModel)]="selectedElement.iconName"
      (selectionChange)="selectChange($event)"
    >
      <mat-option *ngFor="let icon of iconArr" [value]="icon.iconName">
        <mat-icon>{{ icon.iconName }}</mat-icon> {{ icon.codePoint }}
      </mat-option>
    </mat-select>
    <label
      >Clickable Type
      <select
        [(ngModel)]="
          (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type
        "
      >
        <option [value]="item.value" *ngFor="let item of clickablesArr">
          {{ item.name }}
        </option>
      </select>
    </label>
    <label
      *ngIf="
        selectedElement!.widgetConfiguration?.clickableConfiguration?.type ===
        'ClickableConfigurationType.callApi'
      "
      >API Code
      <input
        type="text"
        class="form-control"
        placeholder="Enter API Code"
        [(ngModel)]="
          (selectedElement!.widgetConfiguration?.clickableConfiguration)!
            .apiCode
        "
      />
    </label>
    <label
      *ngIf="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type ===
        'ClickableConfigurationType.redirect'
      "
      >Destination Screen Name
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Name"
        [(ngModel)]="
          (selectedElement!.widgetConfiguration?.clickableConfiguration)!
            .destination_screen_lookUp!.name
        "
      />
    </label>
    <label
      *ngIf="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type ===
        'ClickableConfigurationType.redirect'
      "
      >Destination Screen Type
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Type"
        [(ngModel)]="
          (selectedElement!.widgetConfiguration?.clickableConfiguration)!
            .destination_screen_lookUp!.type
        "
      />
    </label>
    <label
      >Passed Keys
      <input
        type="text"
        class="form-control"
        placeholder="Enter Destination Screen Name"
        (input)="onPassedKeys($event)"
      />
    </label>
  </div>
</div>
