<div class="col">
  <div class="row justify-content-center">
    <label> Icon: </label>
    <mat-icon>{{ selectedElement.iconName }}</mat-icon>
    <mat-select
      [(ngModel)]="selectedElement.iconName"
      (selectionChange)="selectChange($event)"
    >
      <mat-option *ngFor="let icon of iconArr" [value]="icon.iconName">
        <mat-icon>{{ icon.iconName }}</mat-icon> {{ icon.codePoint }}
      </mat-option>
    </mat-select>
  </div>
  <div class="row">
    <label>Clickable Type </label>
    <mat-select
      [(ngModel)]="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type
      "
      (selectionChange)="selectClickableChange($event)"
    >
      <mat-option [value]="item.value" *ngFor="let item of clickablesArr">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </div>
  <div
    class="row"
    *ngIf="
      selectedElement!.widgetConfiguration?.clickableConfiguration?.type ===
      'ClickableConfigurationType.callApi'
    "
  >
    <label>API Code </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter API Code"
      [(ngModel)]="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!.apiCode
      "
    />
  </div>
  <div
    class="row"
    *ngIf="
      (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type ===
      'ClickableConfigurationType.redirect'
    "
  >
    <label>Destination Screen Name </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      [(ngModel)]="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!
          .destination_screen_lookUp!.name
      "
    />
  </div>
  <div
    class="row"
    *ngIf="
      (selectedElement!.widgetConfiguration?.clickableConfiguration)!.type ===
      'ClickableConfigurationType.redirect'
    "
  >
    <label>Destination Screen Type </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Type"
      [(ngModel)]="
        (selectedElement!.widgetConfiguration?.clickableConfiguration)!
          .destination_screen_lookUp!.type
      "
    />
  </div>
  <div class="row">
    <label>Passed Keys </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      (input)="onPassedKeys($event)"
    />
  </div>
</div>
