<div class="col">
  <p>Add Elements To List</p>
  <button class="btn btn-danger bottom" (click)="onAddRow()">+ Add Row</button>
  <label>
    List Cell Prototype
    <input
      type="text"
      class="form-control"
      placeholder="Enter list cell prototype"
      [(ngModel)]="listElementModel!.cellProtoType"
    />
  </label>
  <label>
    List Data Array
    <input
      type="text"
      class="form-control"
      placeholder="Enter list data array"
      [(ngModel)]="listElementModel!.dataArray"
    />
  </label>
  <label>
    List Data ID In Map
    <input
      type="text"
      class="form-control"
      placeholder="Enter list data array"
      [(ngModel)]="listElementModel!.dataIdInMap"
    />
  </label>
  <label>
    List Cell Padding
    <input
      type="text"
      class="form-control"
      placeholder="Enter list padding"
      (input)="onPadding($event)"
    />
  </label>
  <label>
    List Cell Margin
    <input
      type="text"
      class="form-control"
      placeholder="Enter list margin"
      (input)="onMargin($event)"
    />
  </label>
  <label class="container-checkbox"
    >Clickable
    <input
      type="checkbox"
      checked="checked"
      [(ngModel)]="isClickable"
      (change)="onClickablChange()"
    />
    <span class="checkmark"></span>
  </label>
  <label [hidden]="!isClickable"
    >Clickable Type

    <select
      [hidden]="!isClickable"
      [(ngModel)]="
        (listElementModel!.cell?.widgetConfiguration?.clickableConfiguration)!
          .type
      "
    >
      <option [value]="item.value" *ngFor="let item of clickablesArr">
        {{ item.name }}
      </option>
    </select>
  </label>
  <label
    *ngIf="
      isClickable &&
      listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
        .type === 'ClickableConfigurationType.callApi'
    "
    >API Code
    <input
      type="text"
      class="form-control"
      placeholder="Enter API Code"
      [(ngModel)]="
        listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
          .apiCode
      "
    />
  </label>
  <label
    *ngIf="
      isClickable &&
      listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
        .type === 'ClickableConfigurationType.redirect'
    "
    >Destination Screen Name
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      [(ngModel)]="
        listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
          .destination_screen_lookUp!.name
      "
    />
  </label>
  <label
    *ngIf="
      isClickable &&
      listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
        .type === 'ClickableConfigurationType.redirect'
    "
    >Destination Screen Type
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Type"
      [(ngModel)]="
        listElementModel!.cell!.widgetConfiguration!.clickableConfiguration!
          .destination_screen_lookUp!.type
      "
    />
  </label>
  <label *ngIf="isClickable"
    >Passed Keys
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      (input)="onPassedKeys($event)"
    />
  </label>
  <button class="btn btn-primary bottom" (click)="onSubmit()">Save</button>
</div>
