.bottom{
    height: 40px;
    width: 88%;
    margin: 6%;
    position: relative;
    bottom: 0;
}
.col{
    align-items: center;
    padding: 16px;
}
p{
    align-items: center;
    font-size: 18px;
    font-weight: 450;
}

ul {
    list-style-type: none;
}

input::placeholder{
    font-size: 14px;
    font-weight: 200;
}