<div class="col">
  <p>Add Elements To List</p>
  <button class="btn btn-danger bottom" (click)="onAddRow()">+ Add Row</button>
  <button class="btn btn-primary bottom" (click)="onAddColumn()">+ Add Column</button>
  <label>
    List Cell Prototype
    <input
      type="text"
      class="form-control"
      placeholder="Enter list cell prototype"
      [(ngModel)]="listElementModel!.child!.cellProtoType"
    />
  </label>
  <label>
    List Data Array
    <input
      type="text"
      class="form-control"
      placeholder="Enter list data array"
      [(ngModel)]="listElementModel!.child!.dataArray"
    />
  </label>
  <label>
    List Data ID In Map
    <input
      type="text"
      class="form-control"
      placeholder="Enter list data array"
      [(ngModel)]="listElementModel!.child!.dataIdInMap"
    />
  </label>

  <label>
    List Height
    <input
      type="number"
      class="form-control"
      placeholder="Enter list padding"
      [(ngModel)]="listElementModel!.style!.height"
    />
  </label>
  <label>
    Padding
    <input
      type="text"
      class="form-control"
      placeholder="Enter list padding"
      (input)="onPadding($event)"
    />
  </label>
  <label>
    Margin
    <input
      type="text"
      class="form-control"
      placeholder="Enter list margin"
      (input)="onMargin($event)"
    />
  </label>
  <label
    >List Direction

    <select
      class="form-control"
      style="display: inline-block"
      [(ngModel)]="listElementModel!.child!.cell!.widgetConfiguration!.direction"
    >
      <option [value]="item.value" *ngFor="let item of listDirectionsArr">
        {{ item.name }}
      </option>
    </select>
  </label>
  <label class="container-checkbox"
    >Clickable
    <input
      type="checkbox"
      checked="checked"
      [value]="
        this.listElementModel!.child!.cell!.widgetConfiguration!
          .clickableConfiguration!.isClickable
      "
      (change)="onClickablChange()"
    />
    <span class="checkmark"></span>
  </label>
  <label *ngIf="
  this.listElementModel!.child!.cell!.widgetConfiguration!
  .clickableConfiguration!.isClickable"
    >Clickable Type

    <select
    *ngIf="
    this.listElementModel!.child!.cell!.widgetConfiguration!
    .clickableConfiguration!.isClickable"
      class="form-control"
      style="display: inline-block"
      [(ngModel)]="
        (listElementModel!.child!.cell?.widgetConfiguration
          ?.clickableConfiguration!)!.type
      "
    >
      <option [value]="item.value" *ngFor="let item of clickablesArr">
        {{ item.name }}
      </option>
    </select>
  </label>
  <label
    *ngIf="
    this.listElementModel!.child!.cell!.widgetConfiguration!
    .clickableConfiguration!.isClickable &&
      listElementModel!.child!.cell!.widgetConfiguration!
        .clickableConfiguration!!.type === 'clickableConfiguration!Type.callApi'
    "
    >API Code
    <input
      type="text"
      class="form-control"
      placeholder="Enter API Code"
      [(ngModel)]="
        listElementModel!.child!.cell!.widgetConfiguration!
          .clickableConfiguration!!.apiCode
      "
    />
  </label>
  <label
    *ngIf="
    this.listElementModel!.child!.cell!.widgetConfiguration!
    .clickableConfiguration!.isClickable &&
      listElementModel!.child!.cell!.widgetConfiguration!
        .clickableConfiguration!!.type === 'clickableConfiguration!Type.redirect'
    "
    >Destination Screen Name
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      [(ngModel)]="
        listElementModel!.child!.cell!.widgetConfiguration!
          .clickableConfiguration!!.destination_screen_lookUp!.name
      "
    />
  </label>
  <label
    *ngIf="
    this.listElementModel!.child!.cell!.widgetConfiguration!
    .clickableConfiguration!.isClickable &&
      listElementModel!.child!.cell!.widgetConfiguration!
        .clickableConfiguration!!.type === 'clickableConfiguration!Type.redirect'
    "
    >Destination Screen Type
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Type"
      [(ngModel)]="
        listElementModel!.child!.cell!.widgetConfiguration!
          .clickableConfiguration!!.destination_screen_lookUp!.type
      "
    />
  </label>
  <label *ngIf="this.listElementModel!.child!.cell!.widgetConfiguration!
  .clickableConfiguration!.isClickable"
    >Passed Keys
    <input
      type="text"
      class="form-control"
      placeholder="Enter Destination Screen Name"
      (input)="onPassedKeys($event)"
    />
  </label>
  <button class="btn btn-primary bottom" (click)="onSubmit()">Save</button>
</div>
