:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Avenir, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  cdk-virtual-scroll-viewport::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: 
  #CCCCCC;
}

  .container{
    margin-top: 32px;
    width: 100%;
  }

  .content {
    height: 92%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  .draggable-container{
    display: flex;
    width: 100%;
    background-color: #efefef;
    justify-content: space-evenly;
  }

  

  .row {
    display: flex;
    position: relative;
    flex-flow: row;
    min-height: 50px;
    margin: inherit;
  }
  
