<!-- Toolbar -->
<app-navbar></app-navbar>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Design Your Screen</h2>
  <p>Drag and drop elements to format your json</p>
   <div class="flex-container">
      <div>
         <app-elements></app-elements>
      </div>
      <div>
         <app-draggable-component></app-draggable-component>
         <button type="button" (click)="onGenerateJSON()" class="btn btn-warning generateButton">Generate Screen Json</button>
      </div>
      <div>
      <app-elements-properties></app-elements-properties>
      </div>
   </div>
  <app-footer></app-footer>
</div>
