<!-- Toolbar -->
<app-navbar></app-navbar>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Design Your Screen</h2>
  <p>Drag and drop elements to format your json</p>
  <div class="container">
     <div class="row">
        <div class="col-lg-3">
           <app-elements></app-elements>
        </div>
        <div class="col-lg-5" >
           <app-draggable-component></app-draggable-component>
        </div>
        <div class="col-lg-3" >
          <div class="example-viewport"></div>
       </div>
     </div> 
  </div>

  <!-- Links -->
  <app-footer></app-footer>
</div>
