.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav span:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    font-size: 32px;
  }

  .row {
    display: flex;
    position: relative;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .hamburgerButton{
    cursor:pointer;
    margin-left: 16px;
    height: 40px;
    width: 40px;
  }
  h3{
    margin: 16px;
  }

  .clearBtn{
    margin: 4%;
    width: 92%;
  }

  .removeBtn{
    background-color: #bf0000;
    margin-top: 4%;
    margin-right: 4%;
    margin-left: 4%;
    width: 92%;
  }