
  .row {
    display: flex;
    position: relative;
    flex-flow: row;
    align-items: center;
    margin: 16px;
  }

  label{
    font-size: 18px;
    font-weight: 800;
    color: black;
  }

  h3,h4{
    color: black;
    font-weight: 800;
  }
  ::ng-deep.mat-tab-label{
      color: grey;
      margin-left: 5px;
      opacity: 1;
      min-width: 0!important;
      padding: 0 8px !important;
    }
    
    ::ng-deep.mat-tab-label-active {
      color: black;
      opacity: 1;
      min-width: 0!important;
      font-weight: 500;
    }
    ::ng-deep.mat-ink-bar{
      background-color: transparent !important;
    }
    ::ng-deep.mat-tab-header{
      border: none !important;
    }

    