<div class="col">
  <p>Screen Properties</p>
  <label class="container-checkbox"
    >Scrollable
    <input
      type="checkbox"
      checked="checked"
      [value]="isScrollable"
      (change)="onScrollableChange()"
    />
    <span class="checkmark"></span>
  </label>
  <label>
    Screen Lookup Name
    <input
      type="text"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenProperty!.page_name"
      (change)="onLookupNameChange($event)"
    />
  </label>
  <label>
    Screen ID
    <input
      type="number"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenId"
      (change)="onScreenIdChange($event)"
    />
  </label>
</div>
