<div class="col">
  <p>Screen Properties</p>
  <label class="container-checkbox"
    >Scrollable
    <input
      type="checkbox"
      [(ngModel)]="screenProperty!.screenPages!.isScrollable"
    />
    <span class="checkmark"></span>
  </label>
  <label>
    Appbar Title
    <input
      type="text"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenProperty!.screen_name"
      (change)="onAppbarChange()"
    />
  </label>
  <label>
    Screen Lookup Name
    <input
      type="text"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenProperty!.screenPages.page_name"
    />
  </label>
  <label>
    Screen ID
    <input
      type="number"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenProperty!.screen_id"
    />
  </label>
</div>
