.col {
  align-items: center;
  padding: 16px;
  height: 100% !important;
}
.row {
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: space-between;
  min-height: 50px;
}
p {
  align-items: center;
  font-size: 18px;
  font-weight: 450;
}
input {
  margin-bottom: 16px;
  height: 40px;
  width: 100%;
}

input::placeholder {
  font-size: 14px;
  font-weight: 200;
}

.bottom {
  position: absolute;
  bottom: 0;
}

label {
  vertical-align: middle;
}

.my-fab {
  background-color: #eee;
  width: 24px;
  height: 24px;
}
.delete .my-fab {
  background-color: red;
}
.my-icon {
  font-size: 16px;
  margin-top: -7px;
}

.example-button-container {
  display: flex;
  justify-content: center;
}

/* The container-checkbox */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.container-checkbox {
  font-weight: normal;
  font-size: 16px;
}
/* The container-checkbox */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.container-checkbox {
  font-weight: normal;
  font-size: 16px;
}

.row {
  display: flex;
  position: relative;
  flex-flow: row;
  min-height: 50px;
  justify-content: space-between;
}

.generateButton {
  font-size: 12px;
  cursor: pointer;
  padding: 8px;
  width: auto;
  transition: 0.5s ease-out;
  background-color: black;
}
.saveButton {
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
  width: auto;
  transition: 0.5s ease-out;
  background-color: #116530;
}

.saveButton:hover,
.generateButton:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
