<div class="col">
  <p>Screen Properties</p>
  <label class="container-checkbox"
    >Scrollable
    <input
      type="checkbox"
      [(ngModel)]="screenProperty!.screenPages!.isScrollable"
    />
    <span class="checkmark"></span>
  </label>
  <label>
    Appbar Title
    <input
      type="text"
      class="form-control"
      placeholder="Enter screen appbar title"
      [(ngModel)]="screenProperty!.screen_name"
      (change)="onAppbarChange()"
    />
  </label>
  <label>
    Screen Lookup Name
    <input
      type="text"
      class="form-control"
      placeholder="Enter screen lookup name"
      [(ngModel)]="screenProperty!.screenPages.page_name"
      (change)="onAppbarChange()"
    />
  </label>
  <label>
    Screen ID
    <input
      type="number"
      class="form-control"
      placeholder="Enter screen id"
      [(ngModel)]="screenProperty!.screen_id"
    />
  </label>
  <div class="row">
    <label> AppBar Actions </label>
    <div class="example-button-container">
      <button
        mat-button
        color="white"
        class="my-fab"
        (click)="onAddActionItem()"
      >
        <mat-icon class="my-icon">add</mat-icon>
      </button>
    </div>
  </div>
  <div *ngFor="let item of screenProperty?.appBarActions; let index = index">
    <div class="row justify-content-start">
      <mat-icon>{{ item.iconName }}</mat-icon>
      {{
        item.widgetConfiguration?.clickableConfiguration?.apiCode ??
          item.widgetConfiguration?.clickableConfiguration
            ?.destination_screen_lookUp?.name
      }}
      <button
        mat-button
        color="white"
        class="my-fab"
        (click)="onEditAppbarAction(index)"
      >
        <mat-icon class="my-icon" color="red">edit</mat-icon>
      </button>
      <button
        mat-button
        color="red"
        class="my-fab delete"
        (click)="onDeleteAppbarAction(index)"
      >
        <mat-icon class="my-icon">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div>
      <button
        type="button"
        (click)="onGenerateJSON()"
        class="btn btn-danger generateButton"
      >
        <span class="glyphicon glyphicon-file"> </span> Generate Screen JSON
      </button>
    </div>
    <div>
      <button
        type="button"
        (click)="onSaveScreen()"
        class="btn btn-primary saveButton"
      >
        <span class="glyphicon glyphicon-save"> </span> Save
      </button>
    </div>
  </div>
</div>
