<div class="example-boundary">
  <div
    class="row"
    [style.justify-content]="row!.widget.style.justify"
    cdkDropList
    [cdkDropListData]="row!.widget.widgetConfiguration?.rowConfiguration!"
    cdkDragBoundary=".example-boundary"
    (cdkDropListDropped)="drag($event)"
  >
    <div
      *ngFor="let rowContent of row!.widget.widgetConfiguration?.rowConfiguration!; let index = index"
      cdkDrag
      [ngClass]="getItemFlex(rowContent.widget)"
      [style.backgroundColor]="rowContent.widget.style.backgroundColor ?? 'white'"
      [style.color]="rowContent.widget.style.color ?? 'black'"
      [style.width]="rowContent.widget.style.expanded ? '100%' : undefined"
      [style.font-size.px]="rowContent.widget.style.fontSize"
      [style.font-weight]="rowContent.widget.style.fontWeight"
      [style.font-family]="rowContent.widget.style.fontFamily"
      (click)="onElementClick(rowContent, index)"
    >
      {{ rowContent.widget.widget_type }}

      <span class="close" (click)="removeElement(index)">&times;</span>
    </div>
  </div>
</div>
