.example-boundary {
  min-width: 200px;
  border: dotted #ccc 2px;
  min-height: 50px;
}

.row {
  display: flex;
  position: relative;
  flex-flow: row;
}
.item {
  display: flex;
  position: relative;
  flex-flow: row;
  text-align: center;
  justify-content: center;
}
.close {
  top: 2px;
  right: 2px;
}
