
<div class="col">
  <label>Row</label>
</div>
<div class="example-boundary">
  <div
    class="row"
    [style.justify-content]="getRowMainAxis(row!.style.mainAxisAlignment ?? 'start')"
    cdkDropList
    [cdkDropListData]="row!.children!"
    cdkDragBoundary=".example-boundary"
    (cdkDropListDropped)="drag($event)"
  >
    <div
      *ngFor="let rowContent of row!.children!; let index = index"
      cdkDrag
      [ngClass]="getItemFlex(rowContent.child ?? rowContent)"
      [style.backgroundColor]="getItemBackgroundColor(rowContent) ?? 'white'"
      [style.color]="getItemColor(rowContent)"
      [style.width]="
        (rowContent.child ?? rowContent).style.expanded ? '100%' : undefined
      "
      [style.font-size.px]="(rowContent.child ?? rowContent).style.fontSize"
      [style.font-weight]="(rowContent.child ?? rowContent).style.fontWeight"
      [style.font-family]="(rowContent.child ?? rowContent).style.fontFamily"
      (click)="onElementClick(rowContent, index); $event.stopPropagation()"
    >
      {{ (rowContent.child ?? rowContent).name }}

      <span class="close" (click)="removeElement(index)">&times;</span>
    </div>
  </div>
</div>
