<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div [ngSwitch]="item!.type">
    <div *ngSwitchCase="'Button'">
      <app-button-properties
        [buttonItem]="item!"
        [index]="index"
      ></app-button-properties>
    </div>
    <div *ngSwitchCase="'Dropdown'">
      <app-dropdown-properties
        [dropdownElementModel]="item!"
        [index]="index"
      ></app-dropdown-properties>
    </div>
    <div *ngSwitchCase="'Textfield'">
      <app-textfield-properties
        [inputFieldElementModel]="item!"
        [index]="index"
      ></app-textfield-properties>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
