<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *ngIf="item === undefined">
    <app-screen-properties></app-screen-properties>
  </div>
  <div [ngSwitch]="item.name" *ngIf="item">
    <div *ngSwitchCase="'Button'">
      <app-button-properties
        [buttonItem]="item"
        [index]="index"
        [apiCode]="item.apiCode ?? ''"
      ></app-button-properties>
    </div>
    <div *ngSwitchCase="'Dropdown'">
      <app-dropdown-properties
        [dropdownElementModel]="item"
        [index]="index"
      ></app-dropdown-properties>
    </div>
    <div *ngSwitchCase="'Input Field'">
      <app-textfield-properties
        [inputFieldElementModel]="item"
        [index]="index"
      ></app-textfield-properties>
    </div>
    <div *ngSwitchCase="'List'">
      <app-list-properties
        [listElementModel]="item"
        [index]="index"
      ></app-list-properties>
    </div>
    <div *ngSwitchCase="'Col'">
      <app-column-properties
        [columnElementModel]="item"
        [index]="index"
      ></app-column-properties>
    </div>
    <div *ngSwitchCase="'Calendar'">
      <app-calendar-properties
        [calendarElementModel]="item"
        [index]="index"
      ></app-calendar-properties>
    </div>
    <div *ngSwitchCase="'Checkbox'">
      <app-checkbox-properties
        [checkboxElementModel]="item"
        [index]="index"
      ></app-checkbox-properties>
    </div>
    <div *ngSwitchCase="'Row'">
      <app-row-properties
        [rowElementModel]="item"
        [index]="index"
      ></app-row-properties>
    </div>
    <div *ngSwitchCase="'Container'">
      <app-container-properties></app-container-properties>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
