<mat-accordion>
    <mat-expansion-panel (opened)="screensOpenState = true"
                         (closed)="screensOpenState = false">
      <mat-expansion-panel-header class="specific-class">
        <mat-panel-description>
          <h4>Saved Screens</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-saved-screens></app-saved-screens>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="elementsOpenState = true"
                         (closed)="elementsOpenState = false">
      <mat-expansion-panel-header class="specific-class">
        <mat-panel-description>
          <h4>Saved Elements</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-saved-elements></app-saved-elements>
    </mat-expansion-panel>
  </mat-accordion>