
  mat-accordion{
    background-color: white;
  }

  mat-expansion-panel{
    background-color: white;
  }


  ::ng-deep .specific-class > .mat-expansion-indicator:after {
    color: black;
  }

  h3,h4{
    color: black;
    font-weight: 800;
  }