/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; background-color: #efefef; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 8px !important;
  }

  .mat-expansion-panel-header{
    padding: 8px !important;
  }
